.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #87C159, #058240);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-item {
    margin: 0 8px;
    position:relative;
    min-height: 26px;
    /* Chiều cao thẻ li bị lẻ nên phải để min-height cho chiều cao số chẵn lại */
}

.header__navbar-item--has-qr:hover .header__qr {
    /* CSS will affect header qr when header__navbar-item--has-qr is hovered */
    display: block;
}

.header__navbar-item--show:hover .header__noti {
    display:block
}


.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item,
.header__navbar-item-li {
   display: inline-block;
   font-size: 1.4rem;
   color: var(--white-color);
   text-decoration: none;
   font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-li,
.header__navbar-item-icon {
    display: inline-flex;
    align-items: center;
}



.header__navbar-item:hover,
.header_navbar-icon:hover,
.header__navbar-item-li:hover{
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}
.header__navbar-item--bold {
    font-weight: 500;
}

.header__navbar-item--seperate::after {
    content: "";
    display:block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #caeea2;
    right: -10px;
    top:50%; 
    transform: translateY(-50%);
    /* Trừ 50% của chính nó, Y ctheo chiều dọc  */
}

.header__navbar-item-icon {
    color: var(--white-color);
    text-decoration: none;
}

.header_navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.title-no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */

.header__qr {
    width: 185px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%; 
    /* 100% the cha, dung ngay sau the cha*/
    padding: 8px;
    border-radius: 2px;
    display: none; 
    animation: fadeIn ease 0.01s; 
    
}

.header__qr::before {
    content: "";
    left:0;
    top: -15px;;
    width: 100%;
    height:20px;
    position: absolute;
    display: block;
}



.header_qr-img {
    width: 100%;
}

.header-gg-app {
    display: flex;
    justify-content: space-evenly;
}

.header-each {
height: 15.5px;
}


/* Header notification */

.header__noti {
    position: absolute;
    top: 118%;
    /* Dat ngay duoi the cha */
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default; 
    transform-origin: calc(100% - 20px) top ;
    animation: HeaderNotiGrow ease-in 0.3s;
    -webkit-animation: HeaderNotiGrow ease-in 0.3s;
    -ms-animation: HeaderNotiGrow ease-in 0.3s;
    -o-animation: HeaderNotiGrow ease-in 0.3s;
    -moz-animation: HeaderNotiGrow ease-in 0.3s;
    will-change: opacity,transform;
    display:none;
}

.header__noti::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -28px;
}

.header__noti::after {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    height: 20px;
    top:-15px;
    right: 0;
}


@keyframes HeaderNotiGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}




.header__noti-header {
    height: 40px;
    background-color: var(--white-color);
    padding-left: 12px;
}

.header__noti-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header_noti-list {
    padding-left: 0;
}

.header_noti-item:hover {
    background-color:rgba(128, 128, 128,0.1);
}



.header_noti-link {
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 12px;
    background-color: rgba(5, 130, 64,0.08);
 
}

.header_noti-link2{
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 12px;
    background-color: white;
}

.header_noti-link2:hover {
    background-color:rgba(128, 128, 128,0.1);
}

.header_noti-img {
    height: 50px;
    width: 48px;
    object-fit: contain;
}

.header_noti-info {
    display: flex;
    flex-direction: column; /* sắp xếp chữ theo cột */
    justify-content: center; /* căn giữa theo chiều dọc */
}

.header_noti-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 350;
}

.header_noti-des {
    display: block;
    font-size: 1.2rem;
    color: gray;
    line-height: 2rem;
    margin-top: 4px;
}

.header_noti-footer {
    display: flex;
}

.header_noti-footer-btn {
    text-decoration: none;
    color: black;
    padding: 8px 164px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

/*  Authentication modal */


.auth-form {
    width: 500px;
    border-radius:5px;
    background-color: var(--white-color);
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 350;
    color: var(--text-color);
}

.auth-form__switchbutton {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form_aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 5px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    margin-bottom: 24px;
    display: flex;
   justify-content: flex-end;
   /* Đẩy phải */
}


.auth-form__controls-back {
    margin-right: 8px;
}

/* Nút google, facebook */

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
}
.auth-form__socials-icon {
    font-size: 1.8rem;
}


.auth-form__socials-icon--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials-icon--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-seperate {
    display: block;
    height: 22px;
    margin: -3px 16px 0;
    border-left: 1px solid var(--border-color);
}

.auth-form__help-forgot {
    color: var(--primary-color);
}


/* Header with search bar */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 160px;
    margin-left: 60px;
}

.header__logo-img {
    width: 110px;
}

.header__search {
    flex: 0.9;
    /* chiếm hết chiều ngang */
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    border-radius: 2px;
}




.header__search-input-wrap {
    flex: 1;
    height: 100%;
    /* Dàn đủ chiều cao, chiều rộng trên dưới */
    position: relative;
}


.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline:none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 10px;
    border-radius: 2px;
    
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 100px;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #11ad5a;
}

.header__search-input:focus ~ .header__search-history {
    /* focus: Đặt chỏ chuột vào input */
    display: block;

}
/* Header input history */

.header__search-history {
    position: absolute;
    width: calc(100% - 16px);
    left:0;
    top: calc(100% + 2px);
    background-color: white;
    box-shadow: 0 1px 5px #e4e4e4;
    border-radius: 2px;
    display:none;
    overflow: hidden;
}

.header__search-history-header {
    margin: 10px 12px;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
}

.header__search-lists {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-items {
    height: 38px;
    padding: 0 12px;
}

.header__search-items:hover {
    background-color: #fafafa;
}

.header__search-items a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
    /* displayblock Kế thừa thẻ cha */
}


/* Header cart  */

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}


.header__cart-icon {
    font-size: 2.3rem;
    margin-top: 6px;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 6px);
    right: -9px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 9px;
    top: -23px;
    border-width: 16px 20px;
    /* Độ dày */
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}



.header__cart-list-no-cart {
    padding: 24px 0;
    
}

.header__cart-list-no-cart  .header__cart-no-cart-img,
.header__cart-list-no-cart  .header__cart-list-no-cart-text {
    margin-left: auto;
     margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 50%;
    /* Nằm gọn trong thẻ cha */
    display: none;
}

.header__cart-list-no-cart-text {
    display: none;
    /* display block giúp uống dòng, khối không nằm trên một dòng */
    font-size: 1.4rem;
    margin-top: 14px;
    color: var (--text-color);
    
}


/* Cart has product */

.header__cart-notice {
    position: absolute;
    right: -5px;
    padding: 1px 6px;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 2px solid #1db061;
}


/* Card item */
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
}


.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-img {
    width: 50px;
    height: 40px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
 margin-right: 12px;
}
.header__cart-item-head {
    display: flex;
    align-items: center; /* Căn ngang nhau */
    justify-content: space-between;
    margin-right: 12px;
    
}
.header__cart-item-head-name {
    font-size: 1.2rem;
    font-weight: 450;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-head-price {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);

}
.header__cart-item-head-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-head-quantity {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin: 10px 12px 0 0;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}


.header__cart-item-bod-type {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}


.header__cart-item-head-delete {
    font-size: 1.2rem;
    color: var(--text-color);
}
.header__cart-item-head-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view:hover {
    background-color: rgb(14, 165, 84);
}


/* Container -body */

.container {
    background-color: #f5f5f5; 
}

.web__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
    padding-right:  50px;
}

.category__heading {
    margin-top: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 450;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    
}

.category__heading-icon {
    font-size: 1.2rem;
    margin-left: -5px;
    margin-right: 5px;
    position: relative;
    top: 0px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 12px;
}

.category-item {
    
}

.category--item-active .category-item__link {
    color: var(--primary-color);
}

.category--item-active .category-item__link::before {
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    content: "";
    position: absolute;
    border: 3.5px solid;
    border-color: transparent  transparent transparent var(--primary-color);
}

.category-item__link { 
  font-size: 1.1rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 6px 16px;
  position: relative;
  right: 0;
  transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */

.grid__column-10 {
    
}

.select-price {
    display: flex;
    align-items: center;
}